.title {
  max-height: 10vh;
  font-size: calc(10px + 5vmin);
  margin: 1rem;
}

.navList {
  max-height: 10vh;
  font-size: calc(8px + 1vmin);
  display: inline-block;
  margin: 0 0 1rem 2rem;
}