.label_animat {
  font-size: calc(10px + 2vmin);
}

.label_flex {
  display: flex;
}

.label_flex input {
  margin: 0;
}

.label_flex span {
  font-size: calc(10px + 1vmin);
}

.num_range {
  display: block;
}

.colorBox {
  display: inline-block;
  width: 3rem;
  height: 2rem;
}

.text {
  margin: 0 0 0 10px;
}